.d-flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    border: 0 !important;
}

.card-img, .card-img-top {
    height: 230px;
    object-fit: cover;
}

.card .card-item {
    border: 1px solid rgba(0, 0, 0, .125);
    margin: 15px 0;
    height: 390px;
    transition: .4s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.card .card-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: .4s ease-in-out;
}

.card-title {
    padding: 1.25rem;
}

.card-body {
    padding: 0;
}

.recipe-container {
    padding: 20px;
}

a.button-link {
    position: absolute;
    bottom: 3%;
    width: 91.5%;
    outline: 0;
}

.count{
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .results {
        font-size: 14px;
    }

    .count{
        font-size: 14px;
    }
}
